
#container{
    /* border: 1px solid red; */
    width: 960px;
    height: 960px;
 
    display: flex;
    flex-wrap: wrap;
}
.column{
    border: 1px solid blue;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;

}
.cell {
    flex: 1;
    border: 1px solid green;
    margin: 0;
    padding: 0;
    background-color: white;
    flex-grow: 1;
    height: 33.3333%;

}
